.table-page-search-wrapper {
  .el-form--inline .el-form-item {
    display: inline-flex;
    .el-form-item__content {
      width: 100%;
    }
  }
}
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
.custom-height {
  .el-dialog__body {
    height: 500px;
    overflow: auto;
  }
}
.custom-fullscreen {
  display: flex;
  flex-direction: column;
  .el-dialog__body {
    flex: 1;
    overflow-x: auto;
  }
}
.excel-import {
  .el-dialog__body {
    padding: unset;
  }
}
