@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './custom-global.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// 搜索框容器
.filter-container {

  // 输入框、选择器
  .el-input, .el-select {
    width: 200px;
    margin: 10px;

    + .el-button {
      margin-left: 12px;
    }
  }
}

// 列表展开样式
.table-item-expand {
  font-size: 0;
}

.table-item-expand label {
  width: 90px;
  color: #99a9bf;
}

.table-item-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
}

// 详情弹框样式
.detail-item-container {
  font-size: 0;
}

.detail-item-container label {
  width: 90px;
  color: #99a9bf;
}

.detail-item-container .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
}

// Tag组
.tag-group .el-tag {
  margin: 3px;
}

// 下拉选项
.el-dropdown-link {
  cursor: pointer;
}

// 详情图片
.viewer-img {
  display: inline-block;
  height: 120px;
  width: auto;
  cursor: pointer;
}

// =============================  布局紧凑化调整 =============================
// 内容外边距（默认20px）
.app-container {
  padding: 10px;
}

// 一级菜单（默认值 56px）
.el-submenu__title {
  height: 45px !important;
  line-height: 45px !important;
}

// 二级菜单（默认值 50px）
.el-menu-item {
  height: 45px !important;
  line-height: 45px !important;
}

// mini 表格内边距调整（默认 6px）
//.el-table--mini td, .el-table--mini th {
//  padding: 3px;
//}
// 表头添加背景色
.el-table th {
  background-color: #fafafa;
}

// table 展开 单元格（默认值：20px 50px）
.el-table__expanded-cell {
  padding: 6px 50px !important;
}

// tabs头部外边距（默认值：0 0 15px）
.el-tabs__header {
  margin: -6px 0 6px;
}

// 对话框内容内边距（默认值：30px 20px）
.el-dialog__body {
  padding: 10px 20px;
}

// 数据列表 操作（默认值：18px）
.table-operator {
  margin-bottom: 8px;
}

// 分页内边距（默认值：32px 16px）
.pagination-container {
  padding: 16px !important;
}
